.boton{ 
	padding:8px;
	background:rgba(50,200,250,1);
	border:none;  
	margin:5px;
	display:block;
	max-width:200px;   
}

.boton:hover{
	background:rgba(150,200,250,0.8);
	transform:scale(0.9); 
}

h2{
	color:rgb(120,80,230);
	font-family:arial; 
}