*{
	margin:0;
	padding:0; 
}

h1{
	text-align:center;
	color:rgba(250,150,140,1);
	font-size:40px;
	background:rgba(100,120,255,1); 
	padding:15px;    
}

body{
	background:skyblue; 
}

.menu{
	width:100%; 
	list-style:none;
}

.contenedor{
	width:60%; 
	margin:20px auto;
	border:3px solid black;
}

.items a{
	text-decoration:none;
	color:white;
	font-size:25px;  
}

.items:hover{
   background:#444; 
}