#banner{
	margin-top:50px; 
	position:relative; 
}

#banner img{
	width:100%;
	height:100%;  
}

#banner .contenedor{
	position:absolute; 
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%); 
	color:#fff;
}

#banner h2{
	font-size:28px;
}

#banner a{
	display:block;
	width:100px;
	color:#fff;
	padding:10px;
	margin-top:7px;
	border:3px solid white;
	text-decoration:none;    
}

#banner a:hover{
	background: rgba(55,55,55,0.5);
}

#Bienvenidos{
	text-align:center; 
}

@media (min-width:480px){
	#banner h2{
       font-size:40px; 
	}

	#banner a{
		margin-top:25px; 
	}
}

@media (min-width:768px){
	#banner{
		height:400px;
		overflow:hidden;  
	}

	#banner img{
		height:auto; 
		margin-top:-50px; 
	}
}

@media (min-width:1024px){
	#banner img{
		 margin-top:-100px; 
	}
}